<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="page-header">
    <h1>Create Company</h1>
  </div>
  <ol class="breadcrumb">  
    <li><a href="admin">Home</a></li>
    <li><a href="#">Create Company</a></li>
  </ol>
  <div class="row container"> 
    <h3> Company Details </h3> 
    <form class="form" name="form" ng-submit="createCompany(form)" novalidate>

      <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                          'has-error': form.name.$invalid && submitted }">
        <label>Company Name</label>
        <input placeholder="Enter your Company Name" type="text" name="name" class="form-control" ng-model="createThisCompany.name"
               required/>
        <p class="help-block" ng-show="form.name.$error.required && submitted">
          A name is required
        </p>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                          'has-error': form.name.$invalid && submitted }">
        <label>Company Username </label>
        <input placeholder="Enter your Company Username" type="text" name="username" class="form-control" ng-model="createThisCompany.username"
               required/>
        <p class="help-block" ng-show="form.username.$error.required && submitted">
          A name is required
        </p>
      </div>

      <div class="form-group inline" ng-class="{ 'has-success': form.password.$valid && submitted,
                                          'has-error': form.password.$invalid && submitted }">
        <label>Company Password</label>
        <input placeholder="Enter your Company Password" type="password" name="password" class="form-control" ng-model="createThisCompany.password"
               ng-minlength="3"
               required
               mongoose-error/>
        <p class="help-block"
           ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
          Password must be at least 3 characters.
        </p>
        <p class="help-block" ng-show="form.password.$error.mongoose">
          {{ errors.password }}
        </p>
      </div>

      <div class="form-group form-inline" ng-class="{ 'has-success': form.name.$valid && submitted,
                                          'has-error': form.name.$invalid && submitted }">
        <label>Subscription Type</label>
        <select name="subscription" class="form-control" ng-model="createThisCompany.subscription" required>
          <option value="fixed" >Fixed</option>
          <option value="one_time">One Time</option>
        </select>
        <p class="help-block" ng-show="form.subscription.$error.required && submitted">
          Subscription Type is required. It can be changed later.
        </p>
      </div>

      <h3> Owner Details </h3>
      <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                          'has-error': form.name.$invalid && submitted }">
        <label>Owner Name</label>
        <input placeholder="Enter your Owner Name" type="text" name="owner_name" class="form-control" ng-model="createThisCompany.owner.name"/>
      </div>
      
      <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                          'has-error': form.email.$invalid && submitted }">
        <label>Owner Email</label>
        <input placeholder="Enter your Owner Email" type="email" name="owner_email" class="form-control" ng-model="createThisCompany.owner.email"
               required
               mongoose-error/>
        <p class="help-block" ng-show="form.owner_email.$error.email && submitted">
          Doesn't look like a valid email.
        </p>
        <p class="help-block" ng-show="form.owner_email.$error.required && submitted">
          What's your email address?
        </p>
        <p class="help-block" ng-show="form.owner_email.$error.mongoose">
          {{ errors.email }}
        </p>
      </div>

      <p class="help-block"> {{ message }} </p>
      <button class="btn btn-lg btn-primary" type="submit">Create</button>
    </form>
</div>
