<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/navbar/navbar-secondary.html'"></div>

<div class="container">
  <!-- PAGE HEADER -->
  <div class="page-header">
    <h1><span class="glyphicon glyphicon-dashboard"></span> Dashboard <small> Welcome {{company.owner.name.split(' ')[0]}}, what would you like to do?</small></h1>
  </div>
  <!-- PAGE HEADER/ -->
  <div class="container row">  

    <!-- COLLECTIONS -->
    <h4>Upcoming Collections</h4>

    <!-- Customers -->
    <div ng-repeat="c in customers">
      <!-- Terms -->
      <div ng-repeat="t in c.terms">
        <!-- Missed -->
        <div class="alert reminder alert-danger alert-dismissable" role="alert" ng-if="isToBeCollected(t, -1)">
          <strong>Yesterday :</strong> Collect ₹ {{computeLogAmount(t)}} from <strong>{{c.name}}</strong> for Term : {{t.title}}
          <div class="pull-right">
            <a href="#" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-phone"></span> SMS</a> 
            <a href="/company/profile/customer/{{c._id}}/terms/{{t.title}}/logs/add" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-check"></span> Add</a> 
            <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment"></span> Comment</a> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
        <!-- Missed/ -->

        <!-- Today -->
        <div class="alert reminder alert-warning alert-dismissable" role="alert" ng-if="isToBeCollected(t, 0)">
          <strong>Today :</strong> Collect ₹ {{computeLogAmount(t)}} from <strong>{{c.name}}</strong> for Term : {{t.title}}
          <div class="pull-right">
            <a href="#" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-phone"></span> SMS</a> 
            <a href="/company/profile/customer/{{c._id}}/terms/{{t.title}}/logs/add" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-check"></span> Add</a> 
            <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment"></span> Comment</a> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
        <!-- Today/ -->

        <!-- Tomorrow -->
        <div class="alert reminder alert-info alert-dismissable" role="alert" ng-if="isToBeCollected(t, 1)">
          <strong>Tomorrow :</strong> Collect ₹ {{computeLogAmount(t)}} from <strong>{{c.name}}</strong> for Term : {{t.title}}
          <div class="pull-right">
            <a href="#" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-phone"></span> SMS</a> 
            <a href="/company/profile/customer/{{c._id}}/terms/{{t.title}}/logs/add" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-check"></span> Add</a> 
            <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment"></span> Comment</a> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
        <!-- Tomorrow/ -->
      </div>
      <!-- Terms/ -->
    </div>
    <!-- Customers/ -->
  </div>
</div>
