<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="page-header">
    <h1><span class="glyphicon glyphicon-wrench"></span> Account</h1>
  </div>
  <ol class="breadcrumb">  
    <li><a href="company">Home</a></li>
    <li><a href="#">Profile</a></li>
  </ol>
  <div class="row container"> 
    <h3> Account Summary </h3> 
    <dl class="dl-horizontal">
      <dt> Username : </dt> <dd> {{company.username}} </dd>
      <dt> Name : </dt> <dd> {{company.name}} </dd>
      <dt> Owner Name : </dt> <dd> {{company.owner.name}} </dd>
      <dt> Owner Email : </dt> <dd> {{company.owner.email}} </dd>
    </dl>
  </div>
  <h3> Edit Details </h3>
  <form class="form" name="form" ng-submit="update(form)" novalidate>
    <div class="form-group">
      <label>New Name</label>
      <input type="text" name="name" class="form-control" placeholder="{{company.name}}" ng-model="company.updated.name" mongoose-error/>
    </div>
    <div class="form-group">
      <label>New Username</label>
      <input type="text" name="username" class="form-control" placeholder="{{company.username}}" ng-model="company.updated.username" mongoose-error/>
      <p class="help-block" ng-show="form.username.$error.mongoose">{{ errors.username }}</p>
    </div>
    <p class="help-block"> {{ message }} </p>
    <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
  </form>
</div>
