<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/navbar/navbar-secondary-agent.html'"></div>
<div class="container">
  <div class="page-header">
    <h1>Update Committee</h1>
  </div>
  <ol class="breadcrumb">  
    <li><a href="company">Home</a></li>
    <li><a href="#">Update Committee</a></li>
  </ol>
  <div class="row container"> 
    <h3> Committee Details </h3> 
    <form class="form" name="form" ng-submit="updateCommittee(form)" novalidate>

      <div class="form-group">           
        <label>Committee Name</label>
        <input placeholder="Enter your Committee Name" type="text" name="name" class="form-control" ng-model="updateThisCommittee.name"/>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form.phone.$valid && submitted,
                                          'has-error': form.phone.$invalid && submitted }">
        <label>Committee Phone </label>
        <input placeholder="Enter your Committee Phone" type="text" phone="phone" class="form-control" ng-model="updateThisCommittee.phone"/>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                          'has-error': form.email.$invalid && submitted }">
        <label>Committee Email</label>
        <input placeholder="Enter your Committee Email" type="email" name="owner_email" class="form-control" ng-model="updateThisCommittee.email" mongoose-error/>
        <p class="help-block" ng-show="form.owner_email.$error.email && submitted">
          Doesn't look like a valid email.
        </p>
        <p class="help-block" ng-show="form.owner_email.$error.required && submitted">
          What's your email address?
        </p>
        <p class="help-block" ng-show="form.owner_email.$error.mongoose">
          {{ errors.email }}
        </p>
      </div>

      <div class="form-group">           
        <label>Address</label>
        <input placeholder="Enter your Address" type="text" address.title="address.title" class="form-control" ng-model="updateThisCommittee.address.title"/>
      </div>
      
      <div class="form-group">           
        <label>Lattitude</label>
        <input placeholder="Enter your Address" type="text" address.coordinates.lattitude="address.coordinates.lattitude" class="form-control" ng-model="updateThisCommittee.address.coordinates.lattitude"/>
      </div>
      
      <div class="form-group">           
        <label>Longitude</label>
        <input placeholder="Enter your Address" type="text" address.coordinates.longitude="address.coordinates.longitude" class="form-control" ng-model="updateThisCommittee.address.coordinates.longitude"/>
      </div>
      <p class="help-block"> {{ message }} </p>
      <button class="btn btn-lg btn-primary" type="submit">Update</button>
    </form>
</div>
