<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/navbar/navbar-secondary-agent.html'"></div>
<script>
$('.input-group.date').datepicker({
  format: "dd/mm/yyyy",
  todayBtn: "linked",
  orientation: "bottom auto",
  autoclose: true,
  todayHighlight: true
});
</script>
<div class="container">
  <div class="page-header">
    <h1>{{currentTerm.title}} Term</h1>
  </div>
  <ol class="breadcrumb">  
    <li><a href="company">Home</a></li>
    <li><a href="company/list/customer/">Customer List</a></li>
    <li><a href="company/profile/customer/{{currentCustomer._id}}">Customer Profile</a></li>
    <li><a href="company/profile/customer/{{currentCustomer._id}}/terms/">Customer Terms</a></li>
    <li><a href="#">View Term</a></li>
  </ol>
  <div class="row container"> 
    <h3> Term Details </h3> 
    <dl class="dl-horizontal">
      <dt>Title : </dt> <dd> {{currentTerm.title || "N/A"}}</dd>
      <dt>Start Date : </dt> <dd> {{stringifyDate(currentTerm.startDate)}}</dd>
      <dt>Last Date : </dt> <dd> {{stringifyDate(computeEndDate((currentTerm.startDate), currentTerm.duration)) || "N/A"}}</dd>
      <dt>Amount : </dt> <dd> {{roundTo(currentTerm.amount || currentTerm.logs[0].amount) || "N/A"}}</dd>
      <div ng-if="currentTerm.interest && currentTerm.interest.rate">
        <dt>Interest Rate : </dt> <dd> {{currentTerm.interest.rate + " % " || "N/A"}}</dd>
        <dt>Interest Type : </dt> <dd> {{capInit(currentTerm.interest.type) || "N/A"}} per {{currentTerm.interest.per}}</dd>
      </div>
    </dl>
    <div class="form-group">
      <button type="button" class="btn btn-danger btn-md" data-toggle="modal" ng-click="deleteTerm(currentTerm.title)">Delete Term</button>
      <a href="/company/profile/customer/{{currentCustomer._id}}/terms/{{currentTerm.title}}/logs" type="button" class="btn btn-primary btn-md">View Logs</a>
    </div>
    <!--
      <h3> Update Details </h3>
      <form class="form" name="form" ng-submit="updateTerm(form)" novalidate>
      <div class="form-group">           
      <label>Term Name</label>
      <input placeholder="Enter your Term Name" type="text" name="name" class="form-control" ng-model="currentTerm.title" required/>
      </div>
      <div class="form-group">           
      <label>Term Start Date</label>
      <div class="input-group date">
      <input type="text" class="form-control" ng-model="currentTerm.startDate" placeholder="Enter start date of this term" ><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
      </div>       
      </div>
      <div class="form-group form-inline">           
      <label>Interest Rate</label>
      <input placeholder="Enter your Interest Rate" type="text" name="interest.rate" class="form-control" ng-model="currentTerm.interest.rate" />
      <label>Interest Type</label>
      <select name="interest.type" class="form-control" ng-model="currentTerm.interest.type">
      <option value="simple"> Simple </option>
      <option value="compound"> Compound  </option>
      </select>
      </div>
      <div class="form-group form-inline">           
      <label>Installment Amount</label>
      <input placeholder="Enter your Installment Amount" type="text" name="installments.amount" class="form-control" ng-model="currentTerm.installments.amount" required/>
      </div>
      <div class="form-group form-inline">
      <label>Installment Duration</label>
      <input placeholder="Enter your Installment Duration" type="text" name="installments.duration.count" class="form-control" ng-model="currentTerm.installments.duration.count" required/>
      <select  name="installments.duration.parameter" ng-model="currentTerm.installments.duration.parameter" class="form-control">
      <option value="days"> Days </option>
      <option value="months"> Month </option>
      <option value="years"> Years </option>
      </select>
      </div>
      <p class="help-block"> {{ message }} </p>
      <button class="btn btn-lg btn-primary" type="submit">Update</button>
      </form> -->
  </div> 
</div>
