<div ng-include="'components/navbar/navbar.html'"></div>
<script>
$('.input-group.date').datepicker({
  format: "dd/mm/yyyy",
  todayBtn: "linked",
  orientation: "bottom auto",
  autoclose: true,
  todayHighlight: true
});
</script>
<div class="container">
  <div class="page-header">
    <h1>Create Committee</h1>
  </div>
  <ol class="breadcrumb">  
    <li><a href="company">Home</a></li>
    <li><a href="#">Create Committee</a></li>
  </ol>
  <div class="row container"> 
    <h3> Committee Details </h3> 
    <form class="form" name="form" ng-submit="createCommittee(form)" novalidate>

      <div class="form-group">           
        <label>Committee Title</label>
        <input placeholder="Enter your Committee Title" type="text" name="title" class="form-control" ng-model="createThisCommittee.title" required/>
      </div>

      <div class="form-group">           
        <label>Start Date</label>
        <div class="input-group date">
          <input type="text" class="form-control" ng-model="createThisCommittee.start_date" placeholder="Enter start date of this committee" required/><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
        </div>       
      </div>

      <div class="form-group">           
        <label>Amount </label>
        <div class="input-group">
          <div class="input-group-addon">₹</div>
          <input placeholder="Enter your Amount" type="text" name="title" class="form-control" ng-model="createThisCommittee.amount" required/>
        </div>
      </div>

      <div class="form-group form-inline">           
        <label>Duration</label>
        <input placeholder="Enter your Duration Count" type="text" name="duration.count" class="form-control" ng-model="createThisCommittee.duration.count"/>
        <select  name="duration.parameter" ng-model="createThisCommittee.duration.parameter" class="form-control">
          <option value="months"> Month </option>
          <option value="years"> Years </option>
        </select>
      </div>

      <h4> Select the Members from your current customers ({{customers.length}}) </h4>
      <div class="form-group member-list">
        <div ng-repeat="cus in customers">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-click="toggleMember(cus._id)"> 
              {{cus.name}} ({{cus.phone}}) 
              <a href="/company/profile/customer/{{cus._id}}/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
            </label>
          </div>
        </div>
      </div>      
      <p class="help-block"> {{ message }} </p>
      <button class="btn btn-lg btn-primary" type="submit">Create</button>
    </form>
  </div>
