<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="page-header">
    <h1>Committee Profile</h1>
  </div>
  <ol class="breadcrumb">  
    <li><a href="company">Home</a></li>
    <li><a href="company/list/committee/">Committee List</a></li>
    <li><a href="#">Committee Profile</a></li>
  </ol>
  <div class="row container"> 
    <h3> Committee Details </h3> 
    <dl class="dl-horizontal">
      <dt>Title : </dt> <dd> {{currentCommittee.title || "N/A"}}</dd>
      <dt>Start Date : </dt> <dd> {{stringifyDate(currentCommittee.start_date) || "N/A"}}</dd>
      <dt>Amount : </dt> <dd> {{currentCommittee.amount}}</dd>
      <dt>Duration : </dt> <dd> {{currentCommittee.duration.count + " " + currentCommittee.duration.parameter}} </dd>
    </dl>
    <button type="button" class="btn btn-danger btn-md" data-toggle="modal" ng-click="deleteCommittee(currentCommittee)">Delete Committee</button>
    <a href="/company/profile/committee/{{currentCommittee._id}}/logs" type="button" class="btn btn-primary btn-md">View Logs</a>
    <a href="/company/profile/committee/{{currentCommittee._id}}/members" type="button" class="btn btn-primary btn-md">View Members</a>
    <div class="modal" id="bla"> </div>
    <h3> Update Details </h3>

    <form class="form" name="form" ng-submit="updateCommittee(form)" novalidate>
      <div class="form-group">           
        <label>Committee Title</label>
        <input placeholder="Enter your Committee Title" value="{{currentCommittee.title}}" type="text" name="title" class="form-control" ng-model="updateThisCommittee.title"/>
      </div>

      <div class="form-group">           
        <label>Amount </label>
        <input placeholder="Enter your Amount" value="{{currentCommittee.amount}}" type="text" name="title" class="form-control" ng-model="updateThisCommittee.amount"/>
      </div>
      
      <p class="help-block"> {{ message }} </p>
      <button class="btn btn-lg btn-primary" type="submit">Update</button>
    </form>
  </div> 
</div>
