<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/navbar/navbar-secondary.html'"></div>
<script>
$('.input-group.date').datepicker({
  format: "dd/mm/yyyy",
  todayBtn: "linked",
  orientation: "bottom auto",
  autoclose: true,
  todayHighlight: true
});
</script>
<div class="container">
  <div class="page-header">
    <h1>Term Details</h1>
  </div>
  <ol class="breadcrumb">  
    <li><a href="company">Home</a></li>
    <li><a href="company/list/customer/">Customer List</a></li>
    <li><a href="company/profile/customer/{{currentCustomer._id}}">Customer Profile</a></li>
    <li><a href="company/profile/customer/{{currentCustomer._id}}/terms/">Customer Terms</a></li>
    <li><a href="#">Add Term</a></li>
  </ol>
  <div class="row container"> 
    <h3> Add Term Details </h3>
    <form class="form" name="form" ng-submit="addTerm(form)" novalidate>
      <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted, 'has-error': form.name.$invalid && submitted }">            
        <label>*Term Name</label>
        <input placeholder="Enter your Term Name" type="text" name="name" class="form-control" ng-model="addThisTerm.title" required/>
        <p class="help-block" ng-show="form.name.$error.required && submitted">
          A Term name is required
        </p>
      </div>
      <div class="form-group" ng-class="{ 'has-success': form.start_date.$valid && submitted, 'has-error': form.start_date.$invalid && submitted }">           
        <label>*Term Start Date</label>
        <div class="input-group date" >
          <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
          <input type="text" class="form-control" name="start_date" ng-change="updateTermDuration()" ng-model="addThisTerm.start_date" placeholder="Enter start date of this term" required>
        </div>       
        <p class="help-block" ng-show="form.name.$error.required && submitted">
          Start date is required
        </p>
      </div>
      <div class="form-group">           
        <label>Term End Date</label>
        <div class="input-group date">
          <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
          <input type="text" class="form-control" name="end_date" ng-change="updateTermDuration()" ng-model="addThisTerm.end_date" placeholder="Enter end date of this term" >
        </div>       
      </div>
      <div class="form-group" ng-class="{ 'has-success': form.amount.$valid && submitted, 'has-error': form.amount.$invalid && submitted }" >           
        <label>*Term Amount</label>
        <div class="input-group">
          <span class="input-group-addon">₹</span>
          <input type="number" class="form-control" name="amount" ng-model="addThisTerm.amount" placeholder="Enter amount of this term" required/>
        </div>       
        <p class="help-block" ng-show="form.amount.$error.required && submitted">
          A amount is required
        </p>
      </div>

      <div class="form-group">
        <label>Interest Rate</label>
        <div class="input-group">
          <span class="input-group-addon">@</span>
          <input placeholder=" Interest Rate" type="text" name="interest.rate" class="form-control" ng-model="addThisTerm.interest.rate" />
        </div>
      </div>
      <div class="form-group form-inline">
        <label>*Number of Installments</label>
        <input placeholder="No. of Installments" type="text" name="installments.count" class="form-control" ng-model="addThisTerm.installments.count" required/>
        <label>*Installment Duration</label>
        <input placeholder="Installment Duration" ng-keyup="updateTermDuration()" type="text" name="installments.duration.count" class="form-control" ng-model="addThisTerm.installments.duration.count" required/>
        <select name="installments.duration.parameter" ng-model="addThisTerm.installments.duration.parameter" class="form-control">
          <option value="days"> Days </option>
          <option value="months"> Months </option>
          <option value="years"> Years </option>
        </select>
      </div>
      <p class="help-block"> {{ message }} </p>
      <button class="btn btn-lg btn-primary" type="submit">Add</button>
    </form>
  </div> 
</div>
