<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/navbar/navbar-secondary.html'"></div>
<div class="container">
  <div class="page-header">
    <h1><span class="glyphicon glyphicon-user"></span> {{currentCustomer.name}}'s Ledger</h1>
  </div>
  <ol class="breadcrumb">  
    <li><a href="company">Home</a></li>
    <li><a href="company/list/ledger/">Ledger</a></li>
    <li><a href="#">{{currentCustomer.name}}'s Ledger</a></li>
  </ol>
  <div class="row container"> 
    <table class="table table-responsive table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Term</th>
          <th>Date</th>
          <th>Credit</th>
          <th>Debit</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody ng-repeat="t in currentCustomer.terms">
        <tr ng-repeat="l in logsWithBalance(t.logs)">
          <td><a href="/company/profile/customer/{{currentCustomer._id}}/terms/{{t.title}}/">{{t.title}}</a></td>
          <td>{{stringifyDate(l.date)}}</td>
          <td>{{l.type === 'credit' ? roundTo(l.amount) : ""}}</td>
          <td>{{l.type === 'debit' ? roundTo(l.amount) : ""}}</td>
          <td>{{l.balance}}</td>
        </tr>
      </tbody>
    </table>
  </div> 
</div>
