<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/navbar/navbar-secondary.html'"></div>
<div class="container">
  <div class="page-header">
    <h1><span class="glyphicon glyphicon-transfer"></span> Lending <small> Simplified finance management</small></h1>
  </div>
  <ol class="breadcrumb">  
    <li><a href="company">Home</a></li>
    <li><a href="#">Lending</a></li>
  </ol>
  <div class="row container">      
    <div class="form-group form-inline">
      <input type="text" class="form-control" placeholder="Search by Customer" ng-model="filterCustomers"/>
      <input type="text" class="form-control" placeholder="Search by Term" ng-model="filterTerms"/>
    </div>
    <table class="table table-responsive table-bordered table-hover">
      <thead>
        <tr>
          <th>Term</th>
          <th>Date</th>
          <th>Balance</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tbody ng-repeat="c in customers | filter : filterCustomers">
        <tr style="background-color:#F2F2F2;">
          <td colspan="3" style="text-align:center;font-size:120%;"><a href="/company/profile/customer/{{c._id}}/">{{c.name}}</a></strong></td>
          <td>
            <a href="/company/profile/customer/{{c._id}}/terms/add">Add Term</a> 
            |
            <a href="/company/profile/customer/{{c._id}}">Edit </a> 
        </tr>
        <tr ng-if="c.terms.length != 0" ng-repeat="t in c.terms | filter : filterTerms">
          <td><a href="/company/profile/customer/{{c._id}}/terms/{{t.title}}/">{{t.title}}</a></td>
          <td>{{stringifyDate(t.start_date)}}</td>
          <td>{{computeBalance(t)}}</td>
          <td><a href="company/profile/customer/{{c._id}}/terms/{{t.title}}/logs/add" class="btn btn-xs btn-info">Add Logs</a> <a href="company/profile/customer/{{c._id}}/terms/{{t.title}}/logs" class="btn btn-xs btn-warning">View Logs</a>
        </tr>
      </tbody>
    </table>
  </div> 
</div>
