<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/navbar/navbar-secondary.html'"></div>
<div class="container">
  <div class="page-header">
    <h1><span class="glyphicon glyphicon-briefcase"></span> Agents</h1>
  </div>
  <ol class="breadcrumb">  
    <li><a href="company">Home</a></li>
    <li><a href="#">Agent List</a></li>
  </ol>
  <div class="form-group form-inline">
    <a href="company/create/agent" class="btn btn-primary">Create Agent</a>
    <input type="text" placeholder="Search" ng-model="filterAgent" class="form-control"/>
  </div>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th> Name </th>
        <th> Customers</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="a in agents | filter : filterAgent">
        <td> <a href="company/profile/agent/{{a._id}}">{{a.name}}</a> </td>
        <td> {{a.customers.length}} </td>
      </tr>
    </tbody>
  </table>
</div>
